*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --link-strong: #0276DB;
    --link-light: #6dbcdb;
    --link-hover: #fc4349;
}

body {
    width: 100vw;
    margin: 0 auto;
    background: #dadada;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--link-strong) !important;
}

a:visited {
    color: var(--link-strong) !important;
}
a:hover {
    color: var(--link-hover) !important;
    font-size: 100% !important;
    transition: ease 350ms all;
}

/* MAIN BODY STYLES */
h1{ 
    margin: 10px 0 20px 0;
    padding: 20px;
    padding: 10px 0 20px 0;
    text-align: center;
    color: var(--link-strong)
}

h2 {
    width: 80%;
    color: var(--link-strong);
    text-align: center;
    padding: 1.5rem;
}
/* END MAIN */


/* organazing the wrappers */
.wrapper{
    width: 60%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(231, 231, 231);
    box-shadow: 5px 20px 20px rgb(199, 198, 198);
    border-radius: 1rem;
}

.wrapper-poster{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.check-more {
    padding: 1.5rem;
    width: 80%;
}

figure {
    width: 300px;
    height: 420px;
    margin: 0 30px 0 15px;
    overflow: hidden;
}

img {
    width: 300px;
    height: 420px;  
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;  
}

img:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
/* end wrappers */