@media screen and (max-width: 1272px){
    h2 {
        margin: 0 auto;
    }

    .wrapper {
        width: 100%;
        overflow: hidden;
    }

    figure,img  {
        width: 250px;
        height: 300px;
    }
}

@media screen and (max-width: 768px){
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 300px);
    }
    .wrapper-poster{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .wrapper-poster:last-child{
        margin-top: 40px;
        margin-bottom: 20px;
    }

    figure {
        width: inherit;
        height: inherit;
        margin: inherit;
    }
    
    img {
        width: 200px;
        height: 300px;
        margin: 0 15px 0 15px;
    }    
}

@media screen and (max-width: 512px){
    .wrapper{
        grid-template-columns: 1fr;
    }

    .wrapper-poster{
        margin-bottom: 40px;
    }
    .wrapper-poster:last-child {
        margin-top: 0;
    }

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }
    img {
        width: 200px;
    }
    .wrapper-poster {
        justify-content: left;
    }
}